
body {
    margin-left: 50px;
    margin-right: 50px;
}

a:link {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}
a:visited {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}
a:active {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

/* Section 1 */

.pageTop {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageTop > .logo {
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 24px;
    padding: 10px;
}

.pageTop > nav {
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
}



.row {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.column {
    flex: 50%;
    max-width: 50%;
}

.row > .column > .heroTitle {
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 48px;
}

.row > .column > p {
    background-color: #1f2937;
    color: #ffffff;
}

.row img {
    background-color: #1f2937;
    height: 200px;
    width: auto;
}

/* Section 2 */

.testimonials {
    background-color: #ffffff;
    text-align: center;
}

.liImg img {
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    border: 3px solid #3882F6;
    border-radius: 3px;
    height: 100px;
    width: 100px;
    list-style-type: none;
}

.liDesc {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}


/* Section 3 */

.quoteBox {
    background-color: #E5E7Eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-left: 1px;
    padding: 40px;
    text-align: center;

}

.quoteCredit {
    background-color: #E5E7Eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: right;
    padding-right: 150px;
}

/* Section 4 */

.bgfill {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    justify-content: center;
}
.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.column2 {
    flex: 50%;
    max-width: 50%;
}

.row2 > .column2 > .newsletter {
    background-color: #3882F6;
    color: #ffffff;
    font-size: 36px;
    flex: 50%;
    max-width: 50%;
}
.row2 > .column2 > .newsText {
    background-color: #3882F6;
    color: #ffffff;
    flex: 50%;
    max-width: 50%;
}

button {
    background-color: #3882F6;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}


/* Footer */
footer {
    text-align: center;
    color: white;
    background-color: #1f2937;
}
