
body {
    background-color: #1f2937;
}

/* Section 1 */

.row {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    padding: 40px;
    margin: 10rem auto 0 auto;
}

.row > .column > .heroTitle {
    color: #F9FAF8;
    font-size: 48px;
    flex: 50%;
    max-width: 25%;
}

.row > .column > p {
    color: #ffffff;
    flex: 50%;
    max-width: 25%;
}

.row img {
    height: auto;
    width: 300px;
}

/* Section 2 */

.testimonials {
    background-color: #ffffff;
    text-align: center;
}
ul {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    
}
/* Section 3 */


/* Section 4 */


/* Footer */
footer {
    text-align: center;
    color: white;
    background-color: #1f2937;
}
